{
  "extends": "ember",
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "arrow-spacing": 2,
    "prefer-arrow-callback": 2,
    "space-before-function-paren": [2, "never"],
    "no-restricted-syntax": [2, "WithStatement"]
  }
}
